@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,600&display=swap');


.btn {
    display: block;
    background-color: #0070f3;
    text-decoration: none;
    padding: 10px 0;
    margin: 30px auto;
    width: 118px;
    color: #fff;
    font-family: "Nunito";
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #fff;
    border: 1px solid #0070f3;
    color: #0070f3;
}

